# IDE
.idea/
.vscode/

# Virtual env
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store

# Env files
.env

# Logs & data
*.log
*.db
*.csv
*.xlsx

# Pytest
.pytest_cache/

# Temporary tests
tests/Empty.py
